

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Remove overflow */
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.background-overlay {
  background-image: url('./assets/images/th.jpeg'); /* Use o caminho correto para a sua imagem */
  background-size: 35%; /* Reduz o tamanho da imagem */
  background-position: center center; /* Centraliza a imagem */
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.2); /* Um fundo branco transparente */
  opacity: 0.25; /* Define a opacidade da imagem */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 300ms, transform 300ms;
}
